@import './base.css';
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wheel-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #333;
  position: relative;
  overflow: hidden;
  transform: rotate(0deg);
  /* transition: transform 4s cubic-bezier(0.25, 0.1, 0.25, 1); */
}
.pointer {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: url('./logo.png') no-repeat center / cover;
  z-index: 10;
}
button,
input {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  width: 160px;
}

span {
  margin-right: 16px;
}

button:hover {
  background-color: #007bff;
  color: white;
  border: none;
}

.player-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.button-container {
  display: flex;
  gap: 16px;
}

.opacity-70 {
  opacity: 30%;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
